fastapi
uvicorn
pandas
plotly
python-dotenv
python-docx
python-pptx
fpdf
openpyxl
matplotlib
sse-starlette
langchain-google-genai
langchain-openai
langchain-groq
langchain-experimental
langchain-cohere
python-multipart
PyPDF2
httpx
